mixin m2_header
  .m2_headerFake
  .m2_header
    .m2_search__area
      .m2_search__outer
        form.m2_search(action='#', method='get')
          input.m2_search__input(type='text', name='', value='', placeholder='Поиск по названию товара')
          button.m2_search__btn(type='submit')
            i.icon-search1
    +m2_topMenu

mixin m2_catMenu
  .m2_catMenu__area
    .m2_catMenu__outer
      .m2_catMenu
        .m2_catMenuItem__outer.active
          a.m2_catMenuItem
            .m2_catMenuItemImg
              img(src="assets/img/m2/clothes.jpg", alt="")
            .m2_catMenuItemInfo Одежда
        .m2_catMenuItem__outer
          a.m2_catMenuItem
            .m2_catMenuItemImg
              img(src="assets/img/m2/shoes.jpg", alt="")
            .m2_catMenuItemInfo Обувь
        .m2_catMenuItem__outer
          a.m2_catMenuItem
            .m2_catMenuItemImg
              img(src="assets/img/m2/accessories.jpg", alt="")
            .m2_catMenuItemInfo Аксессуары
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/clothes.jpg", alt="")
        //-     .m2_catMenuItemInfo Одежда
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/shoes.jpg", alt="")
        //-     .m2_catMenuItemInfo Обувь
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/accessories.jpg", alt="")
        //-     .m2_catMenuItemInfo Аксессуары
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/clothes.jpg", alt="")
        //-     .m2_catMenuItemInfo Одежда
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/shoes.jpg", alt="")
        //-     .m2_catMenuItemInfo Обувь
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/accessories.jpg", alt="")
        //-     .m2_catMenuItemInfo Аксессуары

//- mixin addCartBtn
//-   .addCartBtn__area
//-     .addCartBtn__outer
//-       .addCartBtn1 В корзину

mixin m2_bottomMenu
  .m2_bottomMenu__areaFake
  .m2_bottomMenu__area
    //- +addCartBtn
    .m2_bottomMenu__outer
      .m2_bottomMenu
        a.m2_bottomMenu__item(href="#")
          i.icon-home
          span Главная
        a.m2_bottomMenu__item.aCatalogOpenBtn.aCatalogOpenBtn2(href="#")
          i.icon-search
          span Каталог
        a.m2_bottomMenu__item.aBrandOpenBtn(href="#")
          i.icon-flyers
          span Бренды
        a.m2_bottomMenu__item(href="#")
          i.icon-cart1
          span Корзина
          span.cartCounter 5
        //- a.m2_bottomMenu__item(href="#")
        //-   i.icon-favorit1
        //-   span Избранное
        a.m2_bottomMenu__item(href="#")
          i.icon-avatar1
          span Профиль
  

mixin m2_category
  .m2_category__area
    .m2_category__outer
      //- a.m2_category__allBtn(href="#") Все товары
      .m2_category
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/01.jpg", alt="")
            .m2_category__itemInfo Рубашки и блузки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/02.jpg", alt="")
            .m2_category__itemInfo Брюки
        .m2_category__itemOuter.active
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/03.jpg", alt="")
            .m2_category__itemInfo Верхняя одежда
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/01.jpg", alt="")
            .m2_category__itemInfo Рубашки и блузки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/02.jpg", alt="")
            .m2_category__itemInfo Брюки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/03.jpg", alt="")
            .m2_category__itemInfo Верхняя одежда
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/01.jpg", alt="")
            .m2_category__itemInfo Рубашки и блузки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/02.jpg", alt="")
            .m2_category__itemInfo Брюки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/03.jpg", alt="")
            .m2_category__itemInfo Верхняя одежда
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/01.jpg", alt="")
            .m2_category__itemInfo Рубашки и блузки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/02.jpg", alt="")
            .m2_category__itemInfo Брюки
        .m2_category__itemOuter
          a.m2_category__item(href="#")
            .m2_category__itemImg
              img(src="assets/img/m2cat/03.jpg", alt="")
            .m2_category__itemInfo Верхняя одежда


mixin m2_innerCategory
  .m2_innerCategory__area
    .m2_innerCategory__outer.xScroll
      .m2_innerCategory
        .m2_innerCategory__itemOuter
          a.m2_innerCategory__item(href="#") Куртки
        .m2_innerCategory__itemOuter
          a.m2_innerCategory__item(href="#") Пальто
        .m2_innerCategory__itemOuter
          a.m2_innerCategory__item(href="#") Дубленки
        .m2_innerCategory__itemOuter
          a.m2_innerCategory__item(href="#") Желетки
        .m2_innerCategory__itemOuter.active
          a.m2_innerCategory__item(href="#") Джинсовые куртки
        .m2_innerCategory__itemOuter
          a.m2_innerCategory__item(href="#") Плащи
  //- .m2_innerCategory__arrow
  //-   i.icon-left-and-right-arrows


mixin catalogArea2  
  .catalog
    .lookCard__area.lookCard__area_mb
      .lookCard__outer
        a.lookCard(href="")
          .lookCard__inner.lookCard__inner_bg(style="background-image: url(assets/img/look/salvatini-4-1200-1200-2.jpg)")
            .lookCard__buyBtnBottom Название лука или подборки
    each item in tovars
      .tCard__area
        a.tCard__areaBorder(href="")
          .tCard__imgArea
            .tCard__img
              img.tImg1(src!=item.img1, alt='')
              img.tImg2(src!=item.img2, alt='')
              //- if item.discount
              //-   .tCard__discount!=item.discount
          .tCard__info1
            .tCard__priceArea
              .tCard__oldPrice!= item.oldPrice 
                | ₽
              .tCard__price.tCard__price_red!= item.price 
                | ₽
            .tCard__titleArea
              span.tCard__brand!= item.content
              span.tCard__separator /
              span.tCard__title!= item.title
          .tCard__info2
            .tCard__info2inner
              .tCard__sizeArea
                span.tCard__sizeTitle Размеры:
                span.tCard__sizeInfo L, XL, XXL
              .tCard__more Подробнее...

mixin catalogArea  
  //- импорт из data.json (подключается через gulp task)
  .catalog
    .tCard__area
      .tCard__areaBorder
        .tCard__imgArea
          .tCard__img
            img.tImg1(src="assets/img/tovar6/002.jpg", alt="")
            img.tImg2(src="assets/img/tovar/007.jpeg", alt="")
        .tCard__info1
          .tCard__priceArea
            .tCard__oldPrice 3500 ₽
            .tCard__price.tCard__price_red 3000 ₽
          .tCard__titleArea
            span.tCard__brand Adidas
            span.tCard__separator /
            span.tCard__title Двубортное спортивное пальто
        .tCard__info2
          .tCard__info2inner
            .tCard__sizeArea
              span.tCard__sizeTitle Размеры:
              span.tCard__sizeInfo L, XL, XXL
            .tCard__more Подробнее...

    .lookCard__area.lookCard__area_mb
      .lookCard__outer
        a.lookCard(href="")
          .lookCard__inner.lookCard__inner_bg(style="background-image: url(assets/img/look/salvatini-4-1200-1200-2.jpg)")
            .lookCard__buyBtn Рекомендуем
    .lookCard__area.lookCard__area_mb
      .lookCard__outer
        a.lookCard(href="")
          .lookCard__inner.lookCard__inner_bg(style="background-image: url(assets/img/look/salvatini-4-1200-1200-2.jpg)")
            .lookCard__buyBtnBottom Название лука или подборки
    each item in tovars
      .tovarCard__area(id=item.id)
        .tovarCard__areaborder
          a.tovarCard(href='#')
            .tovarCard__img
              .tovarCard__fav
                i.icon-favorit1.favOff
                i.icon-favorit2.favOn
              img.tovarCard__imgImg.tovarCard__imgImg1(src!=item.img1, alt='')
              img.tovarCard__imgImg.tovarCard__imgImg2(src!=item.img2, alt='')
              if item.discount
                .tovarCard__priceDiscount!=item.discount
            .tovarCard__info
              .tovarCard__infoTop
                .tovarCard__priceArea
                  if item.oldPrice
                    .tovarCard__priceOld!= item.oldPrice
                      span ₽
                    .tovarCard__price.tovarCard__price_red!= item.price
                      span ₽
                  else
                    .tovarCard__price!= item.price
                      span ₽
              .tovarCard__infoTitle
                span!= item.content
                span.tovarCard__infoTitleSlash /
                span!= item.title
            .tovarCard__wrapper
              .tovarCard__moreArea
                .tovarCard__more
                  .tovarCard__moreInfo
                    span Размеры: 
                    span S, L, XL, XXL
                  .tovarCard__moreInfoLink Подробнее...
    
            

  
mixin catalogAreaFav  
  .catalog.catalog_fav
    each item in tovars
      .tovarCard__area(id=item.id)
        .tovarCard__areaborder
          a.tovarCard(href='#')
            .tovarCard__img
              .tovarCard__fav
                i.icon-favorit1.favOff
                i.icon-favorit2.favOn
              img.tovarCard__imgImg(src!=item.img1, alt='')
              if item.discount
                .tovarCard__priceDiscount!=item.discount
            .tovarCard__info
              .tovarCard__infoTop
                .tovarCard__priceArea
                  if item.oldPrice
                    .tovarCard__priceOld!= item.oldPrice
                      span ₽
                    .tovarCard__price.tovarCard__price_red!= item.price
                      span ₽
                  else
                    .tovarCard__price!= item.price
                      span ₽
              .tovarCard__infoTitle
                span!= item.content
                span.tovarCard__infoTitleSlash /
                span!= item.title
            .tovarCard__wrapper
              .tovarCard__moreArea
                .tovarCard__more
                  .tovarCard__moreInfo
                    span Размеры: 
                    span S, L, XL, XXL
                  .tovarCard__moreInfoLink Подробнее...



