mixin newCollection
  .newCollection
    each item in newCollections
      .newCollection__itemOuter(id=item.id)
        a.newCollection__item(href="#")
          span.newCollection__itemImg.newCollection__itemImg_main
            img(src!=item.img1, alt="")
            if item.discount 
              span.newCollection__itemDiscount!=item.discount 
          span.newCollection__itemInfo
            span.newCollection__itemBrand!= item.content
            span.newCollection__itemTitle!= item.title
            span.newCollection__itemPriceArea
              if item.oldPrice
                span.newCollection__itemOldPrice!= item.oldPrice 
                  span ₽
                span.newCollection__itemPrice!= item.price 
                  span ₽
              else
                span.newCollection__itemPrice!= item.price
                  span ₽



mixin mainShopsBox
  .mainShopsBox
    .mainShopsBox__item
      .mainShopsBox__itemInner
        a(href='#' style='background-image: url(assets/img/june/Talio_Giotto.jpg);')
          img(src='assets/img/pr413-229.png', alt='')
    .mainShopsBox__item
      .mainShopsBox__itemInner
        a(href='#' style='background-image: url(assets/img/june/basconi-1.jpg);')
          img(src='assets/img/pr413-229.png', alt='')
    .mainShopsBox__item
      .mainShopsBox__itemInner
        a(href='#' style='background-image: url(assets/img/june/beauty_lounge.jpg);')
          img(src='assets/img/pr413-229.png', alt='')
    .mainShopsBox__item
      .mainShopsBox__itemInner
        a(href='#' style='background-image: url(assets/img/june/kasper.jpg);')
          img(src='assets/img/pr413-229.png', alt='')
    .mainShopsBox__item
      .mainShopsBox__itemInner
        a(href='#' style='background-image: url(assets/img/june/Monte_Napoleone.jpg);')
          img(src='assets/img/pr413-229.png', alt='')
    .mainShopsBox__item
      .mainShopsBox__itemInner
        a(href='#' style='background-image: url(assets/img/june/Talio_Giotto.jpg);')
          img(src='assets/img/pr413-229.png', alt='')




mixin shop
  .shop__area.w0
    .shop__openMobileBtnArea.w1
      .shop__openMobileBtn О магазине
    .shop.w1
      .shop__sliderArea
        .shop__slider
          .swiper-container.swiper-container_shop
            .swiper-wrapper
              .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/001.jpg);')
                .swiper__cadr_shop
                  .swiper__infoBoxShop
                    .swiper__infoBoxShopTitle Заголовок слайда 1
                    .swiper__infoBoxShopDescription Описание слайда 1 в несколько слов
                img(src='assets/img/slider1cover.png', alt='')
              .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/002.jpg);')
                .swiper__cadr_shop
                  .swiper__infoBoxShop
                    .swiper__infoBoxShopTitle Заголовок слайда 2
                    .swiper__infoBoxShopDescription Описание слайда 2 в несколько слов, которые могут выйти на большее число строк
                img(src='assets/img/slider1cover.png', alt='')
              .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/003.jpg);')
                .swiper__cadr_shop
                  .swiper__infoBoxShop
                    .swiper__infoBoxShopTitle Заголовок слайда 3
                    .swiper__infoBoxShopDescription Описание слайда 3 в несколько слов
                img(src='assets/img/slider1cover.png', alt='')
              .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/004.jpg);')
                .swiper__cadr_shop
                  .swiper__infoBoxShop
                    .swiper__infoBoxShopTitle Заголовок слайда 4
                    .swiper__infoBoxShopDescription Описание слайда 4 в несколько слов
                img(src='assets/img/slider1cover.png', alt='')
              .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/005.jpg);')
                .swiper__cadr_shop
                  .swiper__infoBoxShop
                    .swiper__infoBoxShopTitle Заголовок слайда 4
                    .swiper__infoBoxShopDescription Описание слайда 4 в несколько слов
                img(src='assets/img/slider1cover.png', alt='')
              .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/006.jpg);')
                .swiper__cadr_shop
                  .swiper__infoBoxShop
                    .swiper__infoBoxShopTitle Заголовок слайда 4
                    .swiper__infoBoxShopDescription Описание слайда 4 в несколько слов
                img(src='assets/img/slider1cover.png', alt='')
            // Add Pagination
            .swiper-pagination.swiper-pagination_shop
            // Add Arrows
            .swiper-pagination.swiper-button-prev.swiper-button-prevShop
              i.icon-arr-left1
            .swiper-pagination.swiper-button-next.swiper-button-nextShop
              i.icon-arr-right1
      .shop__info
        .shop__topArea
          .callActionArea
            .callActionArea__left
              .shop__logo
                img(src="assets/img/vendor/guinot/guinot.jpg", alt="")
            .callActionArea__right
              //- +callActionBtn
              +callActionBtnDiscount  
        //- .shop__brandsArea       // если не надо карусели
        //-   .shop__brands
        //-     .shop__brandsItemOuter
        //-       .shop__brandsItem
        //-         a.shop__brandsItemInner(href="#")
        //-           img(src="assets/img/vendor/Abel&Lula/logo A&L 1.jpg", alt="")
        //-           span Abel&Lula
        //-     .shop__brandsItemOuter
        //-       .shop__brandsItem
        //-         a.shop__brandsItemInner(href="#")
        //-           img(src="assets/img/vendor/Birba/birba.svg", alt="")
        //-           span Birba
        //-     .shop__brandsItemOuter
        //-       .shop__brandsItem
        //-         a.shop__brandsItemInner(href="#")
        //-           img(src="assets/img/vendor/Converse/converse.png", alt="")
        //-           span Converse
        //-     .shop__brandsItemOuter
        //-       .shop__brandsItem
        //-         .shop__brandsItemInner
        //-           img(src="assets/img/vendor/Crocs/crocs.jpg", alt="")
        //-           span Crocs
        //-     .shop__brandsItemOuter
        //-       .shop__brandsItem
        //-         a.shop__brandsItemInner(href="#")
        //-           img(src="assets/img/vendor/Dakkem/Dakkem.png", alt="")
        //-           span Dakkem

        
        .shop__brandsCarouselArea
          .brandsCarousel
            .swiper-container.brandsCarousel-container1
              .swiper-wrapper.brandsCarousel__wrapper
                .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                  .shop__brandsItem
                    a.shop__brandsItemInner(href="#")
                      img(src="assets/img/vendor/Abel&Lula/logo A&L 1.jpg", alt="")
                      //- span Abel&Lula
                .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                  .shop__brandsItem
                    a.shop__brandsItemInner(href="#")
                      img(src="assets/img/vendor/Birba/birba.svg", alt="")
                      //- span Birba
                .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                  .shop__brandsItem
                    a.shop__brandsItemInner(href="#")
                      img(src="assets/img/vendor/Converse/converse.png", alt="")
                      //- span Converse
                .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                  .shop__brandsItem
                    .shop__brandsItemInner
                      img(src="assets/img/vendor/Crocs/crocs.jpg", alt="")
                      //- span Crocs
                .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                  .shop__brandsItem
                    a.shop__brandsItemInner(href="#")
                      img(src="assets/img/vendor/Dakkem/Dakkem.png", alt="")
                      //- span Dakkem
                .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                  .shop__brandsItem
                    a.shop__brandsItemInner(href="#")
                      img(src="assets/img/vendor/Forward/Forward.jpg", alt="")
                      //- span Forward
                //- .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                //-   .shop__brandsItem
                //-     a.shop__brandsItemInner(href="#")
                //-       img(src="assets/img/vendor/Gucci/gucci.jpg", alt="")
                //-       span Gucci
                //- .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                //-   .shop__brandsItem
                //-     a.shop__brandsItemInner(href="#")
                //-       img(src="assets/img/vendor/Guinot/Guinot.jpg", alt="")
                //-       span Guinot
                //- .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                //-   .shop__brandsItem
                //-     a.shop__brandsItemInner(href="#")
                //-       img(src="assets/img/vendor/Crocs/crocs.jpg", alt="")
                //-       span Crocs
                //- .shop__brandsItemOuter.swiper-slide.brandsCarousel__slide
                //-   .shop__brandsItem
                //-     a.shop__brandsItemInner(href="#")
                //-       img(src="assets/img/vendor/Dakkem/Dakkem.png", alt="")
                //-       span Dakkem
          .swiper-button-prev.brandsCarousel__btn.brandsCarousel__btnPrev
            i.icon-arr-left1
          .swiper-button-next.brandsCarousel__btn.brandsCarousel__btnNext
            i.icon-arr-right1
        
        .shop__infoText
          .shop__igArea
            a.shopIg(href="#")
              img(src="assets/img/igcolor32.png", alt="Instagram", title="Instagram")
            a.goToSite(href="#")
              img(src="assets/img/worldwide.png", alt="Перейти на сайт", title="Перейти на сайт")
          .shop__infoTextContent
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi itaque ratione obcaecati eaque accusamus ab non consequuntur exercitationem consectetur ex alias dicta unde officia nobis cupiditate debitis enim quae porro ducimus, inventore quod! Ipsum explicabo iste, fugiat distinctio molestiae neque numquam blanditiis, ipsa maxime at laboriosam modi saepe dolores asperiores!
          
        //- +callAction
        .shop__tempText
          .shop__tempTextInner
            i.icon-more1
            span На сайте представлен каталог товаров, приобрести которые Вы можете в Торговом Комплексе МИР.
        
        
        //- .shop__contactsArea
        //-   .shop__contactsTitle Связь с магазином:
        //-   .shop__contacts
        //-     a.shop__contactsItem(href="tel:88008888888")
        //-       i.icon-phone1
        //-       span 8-800-888-88-88

        //-     a.shop__contactsItem(href="mailto:shop@tcmir.ru")
        //-       span shop@tcmir.ru
      +newCollection




mixin callActionBtnDiscount
  .getDiscountBtn.getDiscountBtn_desktop
    .getDiscountBtn__intro Получить скидку
    .getDiscountBtn__promocode HRJHF65GGI759543
      .getDiscountBtn__tooltipDesctop Условия акции - купи три вещи а плати за две!!! Только до 15 августа в нашем магазине!!!
  .getDiscountBtn_mobileArea
    .getDiscountBtn__tooltipMobile Условия акции - купи три вещи а плати за две!!! Только до 15 августа в нашем магазине!!!
    .getDiscountBtn_mobile
      .getDiscountBtn__intro_mobile Получить скидку
      .getDiscountBtn__promocode_mobile HRJHF65GGI759543




